.portion-modifier-container{
    display: block;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 8px;
}
.food-image{
    border-radius: 8px;
    padding: 4px;
}
.food-details-container{
    display: flex;
    padding: 8px;
}
.food-image{
    height: 200px;
    width: 200px;
}
.food-image img{
    height: 200px;
    width: 100%;
}